%h1 Прайс заказов
%table.table.table-striped
  %thead
    %tr
      %th
        Имя
      %th
        Адрес
      %th
        Email
      %th
        Вид оплаты
      %th
      %th
      %th
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.address
        %td= order.email
        %td= order.pay_type
        %td= link_to 'Show', order
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_order_path(order), :class => 'btn btn-mini'
        %td  
          = link_to t('.destroy', :default => t("helpers.links.destroy")), order_path(order), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%p 
  = will_paginate @orders
