= simple_form_for @product, :html => {  :multipart => true, :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :description, rows: 6
  = f.input :image_url
  = f.input :price
  = f.association :category
  = f.association :brend
  = f.simple_fields_for :assets do |asset|
    -  if asset.object.new_record?
      = render "assets/form", :f => asset

  = f.simple_fields_for :assets do |asset|
    - unless asset.object.new_record?

      = link_to( image_tag(asset.object.image.url(:small)), asset.object.image.url(:original))
      = asset.input :_destroy
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'

