- model_class = Product
.page-header
  %h1 
    =@product.title
   
%p
  %strong= model_class.human_attribute_name t("product.description") + ':'
  %br
  = @product.description
%p
  %strong= model_class.human_attribute_name t("product.image_url") + ':'
  %br
  = image_tag( @product.image_url)
%p
  %strong= model_class.human_attribute_name t("product.price") + ':'
  %br
  =  number_to_currency(@product.price, unit: "UA", format: "%n %u")
%p
  -@product.assets.each do | asset |
    = image_tag(asset.image.url(:medium))
.form-actions
  - if can? :update, @product
    = link_to t('.back', :default => t("helpers.links.back")), products_path, :class => 'btn'
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(@product), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(@product), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
  -else
    = button_to 'Добавить в корзину', line_items_path(product_id: @product.id), remote: true ,  :class => "btn btn-primary " 
    = button_to 'Вернуться',@product.brend, method: :get , :class => 'btn btn-inverse reset'   